@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-color: #139a43;
    color: white;
}

.setup_page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.setup_header {
    font-size: 72px;
    color: white;
    margin: 0px;
    margin-bottom: 20px;
}

.setup_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setup_inputs div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setup_inputs label {
    font-size: 22px;
}

.setup_inputs button {
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-family: "Comic Neue", cursive;
    font-size: 18px;
}

.setup_inputs input {
    height: 30px;
    width: 400px;
    font-size: 16px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 6px;
}

/* Main Game Container */
.main_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_header {
    text-align: center;
}

.main_header h1 {
    margin: 0px;
    margin-top: 20px;
}

.main_header .current_player_name {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 32px;
}

.score_container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.scores {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 22px;
    gap: 30px;
}

.game_reset_button {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    font-family: "Comic Neue", cursive;
    font-size: 18px;
}

/* Helper classes */
.hidden {
    display: none;
}

.cell {
    height: 100px;
    width: 100px;
    border: 2px solid white;
    border-radius: 6px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
}

.error_message {
    font-size: 22px;
    color: white;
    font-weight: bold;
}
