@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

body {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.setup_page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: top;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.setup_header {
    font-size: 72px;
}

.setup_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setup_inputs div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.setup_inputs label {
    font-size: 22px;
}

.setup_inputs button {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.setup_inputs input {
    height: 30px;
    width: 300px;
    font-size: 16px;
    font-family: "Chewy", system-ui;
    font-weight: 400;
}

/* Helper classes */
.hidden {
    display: none;
}

.cell {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 6px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    cursor: pointer;
}
